<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    
                <label for="" class="form-label">Name</label>
                <input name="name" [(ngModel)]="name" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Friend Name</label>
                    <input name="friendName" [(ngModel)]="friendName" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Describe Your Friend</label>
                    <textarea name="DescribeYourFriend" [(ngModel)]="DescribeYourFriend" id="" cols="30" rows="3" class="form-control"></textarea>

                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">

                    <label for="" class="form-label">Friend NickName</label>
                    <input name="friendNickName" [(ngModel)]="friendNickName" type="text" class="form-control">

                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

                    <button (click)="readValue()" class="btn btn-primary">Submit</button>

                </div>
            </div>

        </div>
    </div>
</div>
